html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik', sans-serif;
}

section {
	display: flex;
	justify-content: center;
}

.head {
	height: 100vh;
	background-image: url('img/background/head.png');
	background-position: top center;
}

.head__container {
	position: relative;
}

.container {
	width: 110rem;
}

.head__logo {
	height: 20%;
	padding-top: 6rem;
	margin-bottom: 3rem;
	border-right: solid 2px #ECE58E;
}

.logo {
	width: 17.5rem;
	height: 7rem;
	background-image: url('img/logo/logo-head.svg');
	background-repeat: no-repeat;
}

.head__title-nav {
	display: flex;
	justify-content: center;
	position: relative;
}

.head__block--title {}

.head__title--profession {}

.head__title {}

.title--profession {
	color: #FFF678;
	font-size: 3rem;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 1rem;
}

.head-title {
	color: #FFF8F8;
	font-family: Bebas Neue;
	font-size: 15.4rem;
	line-height: 82.023%;
	margin-left: -0.5rem;
}

.head__title--surname {}

.title-surname {}

.head__title--name-btn {
	display: flex;
}

.title-name {}

.head__btn-wrap {
	position: relative;
	margin-top: 3rem;
	margin-left: 4rem;
}

.head__btn-contact-me {
	position: absolute;
	top: -0.5rem;
	left: 0.5rem;
	width: 22rem;
	height: 8rem;
	background-color: #FDEC0B;
	box-shadow: -3px -4px 6px 0px rgba(0, 0, 0, 0.25) inset;
	transform: skew(-30deg);
	border-radius: .75rem;
	transition: top .2s, left .2s;
}

.head__btn-contact-me--add-elem {
	position: absolute;
	top: 0.5rem;
	left: -0.5rem;
	width: 22rem;
	height: 8rem;
	transform: skew(-30deg);
	border-radius: .75rem;
	border: solid 2px #6A6E71;
	transition-property: top, left, color;
	transition-duration: .2s;
}

.head__btn-wrap:hover>.head__btn-contact-me {
	top: -.75rem;
	left: .75rem;
}

.head__btn-wrap:hover>.head__btn-contact-me--add-elem {
	top: .75rem;
	left: -.75rem;
}

.head__btn-wrap:active>.head__btn-contact-me {
	box-shadow: 6px -4px 8px 0px rgba(0, 0, 0, 0.25) inset;
	top: 0;
	left: 0;
}

.head__btn-wrap:active>.head__btn-contact-me--add-elem {
	top: 0;
	left: 0;
}

.head__btn-text {
	color: #222629;
	font-size: 2rem;
	line-height: 156.023%;
	transform: skew(30deg);
}

.head__block--nav {
	position: absolute;
	right: 0;
}

.head__nav-list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2.5rem;
}

.head__nav-item {}

.head__nav-link {
	color: rgba(255, 255, 255, 0.60);
	font-family: Bebas Neue;
	font-size: 2rem;
	letter-spacing: .06rem;
	transition: color .3s, font-size .4s;
}

.head__nav-link:hover {
	color: #FFF678;
	font-size: 3.5rem;
}

.head__nav-link:active {
	color: #fff6789a;
	font-size: 3.2rem;
}

.head__contacts {
	position: absolute;
	bottom: 10%;
	left: 8rem;
}

.head__contacts-list {
	display: flex;
	gap: 3rem;
}

.head__contact-item {}

.head__contact-link {}

.head__contact-icon {
	width: 4rem;
	height: 4rem;
	transition: transform .3s;
}

.head__contact-icon:hover {
	transform: scale(1.5);
}

.head__contact-icon:active {
	transform: scale(1.1);
}

.head__contact-icon--telegram {
	background: url('img/icon/head-telegram.svg') no-repeat center;
}

.head__contact-icon--email {
	background: url('img/icon/head-email.svg') no-repeat center;
}

.head__contact-icon--whatsapp {
	background: url('img/icon/head-whatsapp.svg') no-repeat center;
}

.about {
	background: #FDEC0B;
}

.about__container {}

.about__block--description {
	display: flex;
	height: 41.5rem;
	padding-top: 9.5rem;
	margin-bottom: 8.5rem;
}

.about__img {
	width: 38rem;
	height: 33rem;
	background: url('img/daniil-hi.png') no-repeat center;
}

.about__description {
	padding-left: 7rem;
}

.title {
	font-family: Bebas Neue;
	font-size: 10rem;
}

.about__title {
	height: 10rem;
	display: flex;
	align-items: center;
	color: #474A4F;
	border-left: 1rem solid #FFF;
	padding-left: 2rem;
}

.about__wrap-text {
	padding-top: 3.5rem;
}

.about__text-hi {
	color: #474A4F;
	font-size: 2.8rem;
	font-weight: 500;
}

.about__text {
	max-width: 63rem;
	color: #474A4F;
	font-size: 2rem;
	line-height: 156.023%;
}

.about__block--exclusion {
	margin-bottom: 10rem;
}

.about__exclusion-list {
	display: flex;
}

.about__exclusion-item {
	height: 9rem;
	display: flex;
	align-items: center;
	flex: 25%;
	padding: 0 2.2rem;
	border-right: .3rem solid;
	color: #474A4F;
	font-size: 2rem;
	font-weight: 500;
	line-height: 130%;
}

.about__exclusion-item:first-child {
	padding-left: 0;
}

.about__exclusion-item:last-child {
	padding-right: 0;
	border: unset;
}

.blog {
	background-image: url('img/background/blog.png');
	background-position: top center;
}

.blog__container {}

.blog__block--title {
	padding-top: 8.5rem;
}

.blog__title {
	height: 10rem;
	display: flex;
	align-items: center;
	padding-left: 2rem;
	border-left: 1rem solid #FFF678;
	color: rgba(255, 255, 255, 0.60);
}

.blog__block--description {
	display: flex;
	justify-content: space-evenly;
}

.blog__img {
	width: 50rem;
	height: 47rem;
	background: url('img/smartphone.png') no-repeat center;
}

.blog__wrapper {}

.blog__wrap-text {
	padding-top: 4rem;
	margin-bottom: 4rem;
}

.blog__text--yellow {
	color: #FDEC0B;
	font-size: 2rem;
	font-weight: 700;
}

.blog__text {
	width: 31rem;
	color: #FFF;
	font-size: 2rem;
	line-height: 168%;
}

.blog__wrap-links {
	width: 42rem;
	height: 15.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 2rem;
	background: rgba(217, 217, 217, 0.20);
	padding-left: 3rem;
}

.blog__wrap-link {}

.blog__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blog__link-text {
	color: #FFF;
	font-size: 2rem;
}

.blog__link-text--bold {
	font-weight: 700;
	text-decoration-line: underline;
}

.blog__link-btn {}

.btn-arrow {
	width: 8.8rem;
	height: 3.9rem;
	border: .3rem solid #b6b7b9;
	border-radius: 1.6rem;
	background: url('img/icon/btn-arrow.svg') no-repeat center;
	margin-right: 3rem;
	transition: background-color .2s;
}

.btn-arrow:hover {
	border: .3rem solid #d1d1d1;
	background-color: #ffffff1f;
}

.profile {
	height: 40rem;
	border-top: 1rem solid #FFF678;
	border-bottom: 1rem solid #FFF678;
	background-color: #474A4F;
}

.profile__container {
	display: flex;
	justify-content: center;
}

.profile__block--portfolio {
	border-right: .5rem solid #FFF678;
}

.profile__block--resume {
	border-left: .5rem solid #FFF678;
}

.profile__block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 50%;
}

.profile__wrapper {}

.profile__title {
	color: #FFF;
}

.profile__text {
	width: 36.1rem;
	position: relative;
	padding-top: 1rem;
	color: #FFF;
	font-size: 2rem;
	line-height: 173.5%;
	margin-bottom: 3rem;
}

.profile__text--yellow {}

.yellow {
	color: #FFF678;
}

.profile__text--github {
	position: absolute;
	bottom: -1rem;
	left: 11rem;
	width: 16rem;
	height: 4.6rem;
	background: url('img/icon/github.svg') no-repeat center;
}

.profile__wrap-btn {
	padding-left: 21.5rem;
}

.profile__link {}

.profile__btn {}

.profile__block--resume {}

.contact {
	background-color: #222629;
}

.contact__container {
	height: 68rem;
	display: flex;
	align-items: center;
	position: relative;
}

.contact__block--description {
	height: 49rem;
	width: 42rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
}

.contact__wrap-title {}

.contact__title {
	height: 10rem;
	display: flex;
	align-items: center;
	padding-left: 2rem;
	border-left: 1rem solid #FFF;
	color: #FFF678;
	margin-bottom: 1.5rem;
}

.contact__subtitle {
	width: 38rem;
	color: #FFF;
	font-size: 3rem;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;

}

.contact__wrap-links {}

.contact__link-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: -2rem;
}

.contact__link-item {
	width: 20rem;
	height: 7rem;
	border-radius: 0.8rem;
	border: 2px solid rgba(255, 255, 255, 0.10);
	background: rgba(255, 255, 255, 0.10);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
	padding-left: 2.6rem;
	margin-bottom: 2rem;
	transition: background-color .3s;
}

.contact__link-item:last-child {
	margin-bottom: unset;
}

.contact__link-item:hover {
	background: rgba(255, 255, 255, 0.25);
}

.contact__link {
	height: 100%;
	display: flex;
	align-items: center;
}

.contact__btn {
	height: 100%;
	display: flex;
}

.contact__btn-text {
	display: flex;
	align-items: center;
	color: #FFF;
	font-size: 2rem;
}

.contact__btn-icon {
	width: 3.5rem;
	height: 100%;
	margin-right: 2rem;
}

.contact__btn-icon--telegram {
	background: url('img/icon/contact-telegram.svg') no-repeat center;
}

.contact__btn-icon--email {
	background: url('img/icon/contact-email.svg') no-repeat center;
}

.contact__btn-icon--instagram {
	background: url('img/icon/contact-instagram.svg') no-repeat center;
}

.contact__btn-icon--vkontakte {
	background: url('img/icon/contact-vk.svg') no-repeat center;
}

.contact__btn-icon--whatsapp {
	background: url('img/icon/contact-whatsapp.svg') no-repeat center;
}

.contact__block--img {
	position: relative;
	height: 100%;
	z-index: 1;
}

.contact__img {
	position: absolute;
	left: -14rem;
	width: 100rem;
	height: 100%;
	background: url('img/daniil-work.png') no-repeat bottom;
}

.footer {
	display: flex;
	justify-content: center;
	background: #FFFBC3;
}

.footer__container {
	padding-top: 3.5rem;
}

.footer__block--nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.footer__nav-list {
	width: 59rem;
	display: flex;
	justify-content: space-between;
}

.footer__nav-item {}

.footer__nav-link {
	color: #474A4F;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: color .2s;
}

.footer__nav-link:hover {
	color: #000000;
}

.footer__block--copyright {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.footer__logo {
	width: 17.5rem;
	height: 2rem;
	background: url('img/logo/logo-footer.svg') no-repeat center;
}

.footer__copyright {
	color: #474A4F;
	font-size: 1.5rem;
	line-height: 156.023%;
}